
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Mantenimientos.cshtml";
}

<h2>Modulo de  mantenimientos</h2>
<img src="imagenes/Coqueticas.jpeg"
     alt="Coqueticas logo"
     width="916"
     height="466">

