
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout-Procesos.cshtml";
}

<h2>Modulo de procesos</h2>
<img src="imagenes/Coqueticas.jpeg"
     alt="Coqueticas logo"
     width="916"
     height="466">
